@page
@using Microsoft.Extensions.Options
@using LeavePlanner.Utilities.Settings
@model RegisterModel
@inject IOptions<AppSettings> AppSettings
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-12">
        <div class="col-xl-12 col-md-10 col-sm-12 m-auto text-center text-muted hidden-sm-down">
            <div class="col-12">
                <h2 class="fs-xxl fw-700">
                    @AppSettings.Value.Application.Name
                    <small class="h4 fw-500 mt-3 mb-5">
                        @AppSettings.Value.Application.Name is web application for managing domain data and vacation requests inside your Company<br />
                    </small>
                </h2>
            </div>
        </div>
        <div class="col-xl-4 col-md-10 col-sm-10 m-sm-auto">
            <div class="card p-4 rounded-plus bg-faded">
                <h2 class="text-success fw-900"><span class="far fa-sign-in mr-2"></span>Register</h2>
                <form id="js-register" method="post">
                    <div asp-validation-summary="All" class="alert alert-primary text-danger"></div>
                    <div class="form-group mb-0">
                        <label class="form-label" asp-for="Input.Email"></label>
                        <input type="text" asp-for="Input.Email" class="form-control" required="required" />
                    </div>
                    <div class="form-group mb-0">
                        <label class="form-label" asp-for="Input.FirstName"></label>
                        <input type="text" asp-for="Input.FirstName" class="form-control" required="required" />
                    </div>
                    <div class="form-group mb-0">
                        <label class="form-label" asp-for="Input.LastName"></label>
                        <input type="text" asp-for="Input.LastName" class="form-control" required="required" />
                    </div>
                    <div class="form-group mb-1">
                        <label class="form-label" asp-for="Input.Password"></label>
                        <div class="input-group flex-nowrap">
                            <input type="password" asp-for="Input.Password" id="password" class="form-control" required="required" />
                            <div class="input-group-append">
                                <button type="button" tabindex="-1" class="input-group-text myInputPwd">
                                    <i class="fs-xl far fa-eye-slash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-1">
                        <label class="form-label" asp-for="Input.ConfirmPassword"></label>
                        <div class="input-group flex-nowrap">
                            <input type="password" asp-for="Input.ConfirmPassword" id="confirmPassword" class="form-control" required="required" />
                            <div class="input-group-append">
                                <button type="button" tabindex="-1" class="input-group-text myInputConfirmPwd">
                                    <i class="fs-xl far fa-eye-slash"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row no-gutters">
                        <div class="col-lg-6 pr-lg-1 my-2">
                            <a asp-controller="Home" asp-action="LandPage" class="btn btn-primary btn-block waves-effect waves-themed"><i class="far fa-home mr-2"></i>Home page</a>
                        </div>
                        <div class="col-lg-6 pl-lg-1 my-2">
                            <button id="js-register-btn" type="submit" class="btn btn-success bg-success-gradient btn-block waves-effect waves-themed"><span class="far fa-sign-in mr-2"></span>Register</button>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <a asp-area="Identity" asp-page="/account/login" class="opacity-90"><span class="far fa-sign-in mr-2"></span>Already have account, login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>

        $('.myInputPwd').on('click',
            function () {
                var pwd = document.getElementById("password");
                if (pwd.type === "password") {
                    pwd.type = "text";
                } else {
                    pwd.type = "password";
                }
            });

        $('.myInputConfirmPwd').on('click',
            function () {
                var pwd = document.getElementById("confirmPassword");
                if (pwd.type === "password") {
                    pwd.type = "text";
                } else {
                    pwd.type = "password";
                }
            });

        $("#js-register-btn").click(function (event) {
            // Fetch form to apply custom Bootstrap validation
            var form = $("#js-register");

            if (form[0].checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.addClass('was-validated');
            // Perform ajax submit here...
        });
    </script>
}