@using LeavePlanner.Utilities.Extensions
@if (User.IsAuthenticated())
{
    <div class="bg-trans-gradient d-flex flex-row py-3 rounded-top">
        <div class="d-flex flex-row text-white">
            <span class="ml-3 mr-2 mt-1">
                <span class="fas fa-user-circle fa-2x"></span>
            </span>
            <div class="info-card-text small ml-2">
                <span class="opacity-80 mb-2">Username</span>
                <span class="fw-700">@(User.GetLoggedInUserName())</span>
            </div>
        </div>
    </div>
}
else
{
    <div class="dropdown-header bg-trans-gradient d-flex flex-row py-3 rounded-top">
        <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
            <span class="mr-2">
                <span class="fas fa-user-cog fa-2x mr-2"></span>
            </span>
            <div class="info-card-text small">
                <span class="font-weight-bold">User not logged in</span>
                <span class="opacity-80" style="font-size: 12px;">Login for more</span>
            </div>
        </div>
    </div>
}

<div class="dropdown-divider m-0"></div>


@if (User.IsAuthenticated())
{
    <a href="~/manual/manual.pdf" download="" class="dropdown-item">
        <span class="fas fa-file-pdf mr-2"></span><span data-i18n="drpdwn.settings">Manual </span>
    </a>
    <div class="dropdown-divider m-0"></div>
    <form method="post" asp-area="Identity" asp-page="/Account/Logout">
        <button type="submit" name="Logout" class="dropdown-item text-danger"><span class="fas fa-sign-out mr-2"></span>Logout</button>
    </form>

}
else
{
    <a href="/identity/account/login" class="dropdown-item text-success">
        <span class="fas fa-user-check mr-2"></span><span data-i18n="drpdwn.reset_layout">Login</span>
    </a>
    <a href="/identity/account/register" class="dropdown-item text-success">
        <span class="fas fa-user-plus mr-2"></span><span data-i18n="drpdwn.reset_layout">Register</span>
    </a>
}

