@inject IOptions<AppSettings> AppSettings


<meta charset="utf-8">
<title>
    @if (ViewBag.Title?.Length > 0)
    {
        <text> @AppSettings.Value.Application.Name - @ViewBag.Title </text>
    }
    else
    {
        @AppSettings.Value.Application.Name
    }
</title>
<meta name="description" content="@ViewBag.Title">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="msapplication-tap-highlight" content="no">

<link rel="stylesheet" media="screen, print" href="~/css/vendors.bundle.css">
<link rel="stylesheet" media="screen, print" href="~/css/app.bundle.css">
<link rel="stylesheet" media="screen, print" href="~/css/site.css">
<link id="mytheme" rel="stylesheet" media="screen, print" href="~/css/themes/cust-theme-15.css">
<link id="myskin" rel="stylesheet" media="screen, print" href="~/css/skins/skin-master.css">

<!-- plugins css -->
<link rel="stylesheet" media="screen, print" href="~/css/fa-brands.css">
<link rel="stylesheet" media="screen, print" href="~/css/fa-duotone.css">
<link rel="stylesheet" media="screen, print" href="~/css/fa-light.css">
<link rel="stylesheet" media="screen, print" href="~/css/fa-regular.css">
<link rel="stylesheet" media="screen, print" href="~/css/fa-solid.css">
<link href="~/css/formplugins/select2/select2.bundle.css" rel="stylesheet" />
<link href="~/css/notifications/sweetalert2/sweetalert2.bundle.css" rel="stylesheet" />
<link href="~/css/notifications/toastr/toastr.css" rel="stylesheet" />

<partial name="_FavIcon" />