<div class="row">
    <div class="d-flex">
        <button class="btn btn-outline-secondary waves-effect waves-themed ml-auto" data-dismiss="modal">
            <span class="far fa-times mr-1"></span> Zatvori
        </button>
    </div>
</div>