@using LeavePlanner.Utilities.Extensions
@using LeavePlanner.ViewComponents

@{
    var userRole = User.IsAuthenticated() ? User.GetLoggedInUserRole() : "";
}

<aside class="page-sidebar">
    <partial name="_Logo"/>
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
        <partial name="_NavFilter"/>
        <partial name="_NavInfoCard"/>
        <div class="m-0">
            <h2 class="text-center text-danger fw-900">@userRole</h2>
        </div>
        <vc:navigation/>
        <partial name="_NavFilterMsg"/>
    </nav>
    <partial name="_NavFooter"/>
</aside>