<div class="js-customLoading overlay d-none">
    <div class="overlay__wrapper">
        <div class="overlay__spinner">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status" style="width: 10rem; height: 10rem;">
                    <span class="sr-only">Molimo pričekajte...</span>
                </div>
            </div>
        </div>
    </div>
</div>