@*Laptop*@
<div class="row d-none d-md-block d-lg-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block">
    <div class="d-flex mt-4">
        <button class="btn btn-secondary  waves-effect waves-themed mr-2 ml-auto" data-dismiss="modal">
            <span class="far fa-arrow-left mr-2"></span> Cancel
        </button>
        <button type="submit" class="btn btn-success bg-success-gradient waves-effect waves-themed mr-2">
            <span class="far fa-check mr-2"></span> Save
        </button>
    </div>
</div>


@*Tablet*@
<div class="d-none d-sm-block d-md-none">

    <div class="row mt-3">
        <div class="col-6">
            <a class="btn btn-secondary  text-white btn-block waves-effect waves-themed mr-2" data-dismiss="modal">
                <span class="far fa-arrow-left mr-1"></span> Cancel
            </a>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-success bg-success-gradient btn-block waves-effect waves-themed mr-2">
                <span class="far fa-check mr-2"></span> Save
            </button>
        </div>
    </div>
</div>

@*Mobile*@
<div class="row d-block d-sm-none">
    <div class="col-lg-12">
        <div class="frame-wrap justify-content-center mt-3">
            <a class="btn btn-secondary  btn-block text-white waves-effect waves-themed mr-2" data-dismiss="modal">
                <span class="far fa-arrow-left mr-1"></span> Cancel
            </a>
            <button type="submit" class="btn btn-success bg-success-gradient btn-block waves-effect waves-themed mr-2">
                <span class="far fa-check mr-2"></span> Save
            </button>
        </div>
    </div>
</div>