<div class="nav-footer shadow-top">
    <a href="#" data-action="toggle" data-class="nav-function-minify" class="hidden-md-down">
        <i class="ni ni-chevron-right"></i>
        <i class="ni ni-chevron-right"></i>
    </a>
    <ul class="list-table m-auto nav-footer-buttons text-white opacity-80">
        <a href="javascript:void(0);" data-toggle="modal" data-target="#contactsModal" title="Kontakti">
            <i class="fal fa-question-circle text-white" style="font-size: 1.2rem !important;"></i>
        </a>
    </ul>
</div>