<div class="nav-filter">
    <div class="position-relative">
        <input type="text" id="nav_filter_input" placeholder="Pretraži navigaciju" class="form-control" tabindex="0">
        <a href="#" onclick="return false;" class="btn-primary btn-search-close js-waves-off" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar">
            <i class="fas fa-chevron-down"></i>
        </a>
    </div>
</div>