
@inject IOptions<AppSettings> AppSettings

<div class="d-block text-center text-white">
    2019 © @AppSettings.Value.Application.Name by&nbsp;<a href="@AppSettings.Value.CompanyData.Name" class="text-white opacity-40 fw-500" title="@AppSettings.Value.CompanyData.Name" target="_blank">@AppSettings.Value.CompanyData.Name</a>
</div>