
<div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
    <div class="d-flex align-items-center container p-0">
        <partial name="_LogoLandingPage" />
        <span class="text-white opacity-50 ml-auto mr-2 hidden-sm-down">
            Postojeći korisnik?
        </span>
        <a class="btn-link text-white ml-auto ml-sm-0" asp-area="Identity" asp-page="/account/login">
            Prijava
        </a>

    </div>
</div>