<script id="msgTemplate" type="application/html-template">
    <div class="alert alert-{{alert-level}} alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Zatvori">
            <span aria-hidden="true"><i class="fal fa-times-circle"></i></span>
        </button>
        {{message}}
    </div>
</script>