<nav class="shortcut-menu d-none d-sm-block" title="Actions">
    <input type="checkbox" class="menu-open" name="menu-open" id="menu_open" />
    <label for="menu_open" class="menu-open-button">
        <span class="fas fa-cogs d-block"></span>
    </label>
    <a href="#" class="menu-item btn" data-toggle="tooltip" data-placement="left" title="Go to top">
        <i class="fas fa-angle-double-up "></i>
    </a>
    <a href="#" class="menu-item btn" data-action="app-fullscreen" data-toggle="tooltip" data-placement="left" title="Full screen">
        <i class="fas fa-expand"></i>
    </a>
    <a href="#" class="menu-item btn" data-action="app-print" data-toggle="tooltip" data-placement="left" title="Print">
        <i class="fas fa-print"></i>
    </a>
    <a href="#" class="menu-item btn" data-action="toggle" data-toggle="tooltip" data-placement="left" title="Resize nav" data-class="nav-function-minify">
        <i class="ni ni-minify-nav"></i>
    </a>
</nav>