@model LeavePlanner.Models.ErrorViewModel
@{
    ViewData["Title"] = "Greška";
}

<h1 class="text-danger fw-700">Pogreška</h1>
<h4 class="text-danger">Dogodila se pogreška prilikom obrade vašeg zahtjeva</h4>

@*@if (Model?.ShowRequestId == true)
{
    <p>
        <strong>Request ID:</strong> <code>@Model?.RequestId</code>
    </p>
}*@


<div class="ml-2">
    <hr class="bodyHr" />
    <h5 class="mt-1 text-black-50"> <i class="fal fa-user mr-3"></i><strong class="mr-3 text-dark">Korisnik:</strong> @Model.UserName</h5>
    <h5 class="mt-1 text-black-50"> <i class="fal fa-server mr-3"></i><strong class="mr-3 text-dark">Zatraženi URL:</strong> @Model.Url</h5>
    <h5 class="mt-1 text-black-50"> <i class="fal fa-envelope mr-3"></i><strong class="mr-3 text-dark">Info:</strong> @Model.Message</h5>
    <br />
    <br />
    @*TODO implement mail and homepage logic*@
    <a asp-controller="Test" asp-action="Index" class="btn btn-primary waves-effect waves-themed mr-2"><i class="fas fa-home mr-2"></i>Početna stranica</a>
    <a title="aplikacije@hdit.hr" href="mailto:aplikacije@hdit.hr?subject=Greška SimpleLab" class="btn btn-default waves-effect waves-themed"><i class="fas fa-envelope mr-2"></i>Kontaktiraj podršku</a>
</div>
